
# Cognito
NEXT_PUBLIC_COGNITO_USER_POOL_ID=us-east-1_hIYXapX1Z
NEXT_PUBLIC_COGNITO_APP_CLIENT_ID=60b64m9js425mu3g91edenr8a8
NEXT_PUBLIC_AWS_REGION=us-east-1

# S3
S3_BUCKET_RAW=alphalens-raw-data
S3_BUCKET_MODELS=alphalens-model-artifacts
S3_BUCKET_CACHE=alphalens-cached-outputs
